img.alignright title="skyo4nm" src="http://citiesprogramme.com/wp-content/uploads/2011/11/skyo4nm-300x149.jpg" alt=""

markdown:
  Sustainability is increasingly being measured by organisations, cities, companies and countries around the world.

  ** Defining Sustainability **

  A key difficulty is defining "sustainability" in ways that make sense to stakeholders, and also comply with
  emerging reporting and accounting standards.
  Circles of Sustainability is a system that aims to support both of these aims.
  It uses a general database of indicators developed by organisations such as the GRI (Global Reporting Initiative), OECD and others.
  However it also supports the development of custom indicators, to measure specific local sustainability issues.

  ###  Measuring Sustainability

  Sustainability as a concept is very difficult to measure.
  Especially in establishing academically sound and practical outcomes that are of use to stakeholders and that meet reporting standards.
  Circles of Sustainability is a system that aims to support both of these aims.
  It uses a general database of indicators developed by organisations such as the GRI (Global Reporting Initiative), OECD and others.
  However it also supports the development of custom indicators, to measure specific local sustainability issues.


  It serves as an important tool in articulating measurable goals for project administrators.
  This is achieved by establishing stakeholder concerns and then working through to develop more specific indicators to assesses sustainability.
  A project is defined by ascertaining what the broad issue is and then selecting indicators to describe and facilitate a measurable goal.
  * CoS *  is a good instrument to stimulate an initial sustainability test.

  ### Introducing *Circles of Sustainability*

  Circles of Sustainability (*CoS*) is a practical user-friendly tool that project administrators can utilise to implement and track their sustainable projects with measurable outcomes.
  It also serves to develop a reporting template.
  CoS main objectives are to develop methodology for communities and develop ways of measuring sustainability that reflect the values that relate to the particular city or community.
  In this respect sustainability is defined in relation to a project.

  *CoS* seeks to provide an online portal for sustainable development based projects to have more focus and direction by providing a template to work off for initial evaluation.
  By filling out background questionnaire-based questions surrounding an existing problem,  *CoS* acts as an effective tool for developing a reporting template to inform primary evaluation.
  It begins with a broad project idea and narrows down to key issues and indicators to solve the problem at hand.
  Issues are as a result more specific and can be viewed visually to ensure they are effectively implemented within the given community.
  As such it provides a tangible user-driven resource to assesses’ levels of sustainability to more effectively manage sustainability projects.
